<div class="page-header">
  <h1>Blog#Show</h1>
</div>

<ul class="list-unstyled list-inline">
  <li class="list-inline-item"><a href="<%= blogsPath() %>" class="btn btn-info">Back to all Blogs</a></li>
  <li class="list-inline-item"><a href="<%= editBlogPath({ blog_id: blog.ID })%>" class="btn btn-warning">Edit</a></li>
  <li class="list-inline-item"><a href="<%= blogPath({ blog_id: blog.ID })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
</ul>

<p>
  <strong>Title</strong>: <%= blog.Title %>
</p>
<p>
  <strong>Content</strong>: <%= blog.Content %>
</p>
