<div class="tile-body">
    <div class="form-group">
        <textarea id="criterion_text" class="form-control" rows="10" placeholder="Enter your address"><%= criterion %></textarea>
    </div>
</div>
<div class="tile-footer">
    <div class="row">
        <div class="col-md-8 col-md-offset-3">
            <button id="btnCriterion" class="btn btn-primary" type="button"><i class="fa fa-fw fa-lg fa-check-circle"></i>确定</button>
        </div>
    </div>
</div>

<script>
    $("#btnCriterion").on("click", criterionHandle);
    function criterionHandle() {
        const criterion = document.getElementById("criterion_text").value.trim();

        if (criterion.length === 0) {
            console.log("empty");
        } else {
            const param = {
                id: document.getElementById("game_id").innerText,
                criterion,
            };
            console.log(param);
            axios.post("/games/saveCriterion", param)
                .then(function (res) {
                    console.log(res);
                    $("#criterion").replaceWith(res.data);
                });
        }
    }
</script>