<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Survey</title>

    <%= stylesheetTag("application.css") %>

    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="<%= authenticity_token %>" />
    <link rel="icon" href="<%= assetPath("images/favicon.ico") %>">
  </head>

  <body class="app sidebar-mini rtl">
    <%= partial("layout/app-header-nav.html") %>
    <%= partial("layout/app-side-nav.html") %>

    <main class="app-content">
        <%= partial("layout/app-title.html") %>
        <%= partial("layout/flash.html") %>
        <%= yield %>
    </main>

    <%= javascriptTag("application.js") %>

    <%= contentOf("pageJS") %>
  </body>
</html>
