<div class="row">
  <div class="col-md-6 col-lg-12">
    <div class="bs-component">
      <h2>企业认知离散度</h2>
      <p>在讨论部门墙之前，企业内部不同部门的基本认知是否一致。
        <a href="/surveys/open/?num=S01&id=zz" target="_blank"> 总裁办 </a>
        <a href="/surveys/open/?num=S02&id=zz" target="_blank"> 研发中心 </a>
        <a href="/surveys/open/?num=S03&id=zz" target="_blank"> 产品管理 </a>
        <a href="/surveys/open/?num=S04&id=zz" target="_blank"> 大客户部 </a>
        <a href="/surveys/open/?num=S05&id=zz" target="_blank"> 工厂 </a>
        <a href="/surveys/open/?num=S06&id=zz" target="_blank"> 供应链 </a>
        <a href="/surveys/open/?num=S07&id=zz" target="_blank"> 康逸 </a>
        <a href="/surveys/open/?num=S08&id=zz" target="_blank"> 客户服务 </a>
        <a href="/surveys/open/?num=S09&id=zz" target="_blank"> 渠道管理 </a>
        <a href="/surveys/open/?num=S10&id=zz" target="_blank"> 设计家 </a>
        <a href="/surveys/open/?num=S11&id=zz" target="_blank"> 物流中心 </a>
        <a href="/surveys/open/?num=S12&id=zz" target="_blank"> 企划/市场 </a>
      </p>

    </div>
  </div>

  </div>
</div>
<div class="row">
  <div class="col-md-6 col-lg-12">
    <div class="bs-component">
      <h2>企业经营数据</h2>
      <p>对标分析的关键不是和别人比，而是和自己过去比；比的前提是先得有量化的<a href="/matrix/openTypeA/?num=A01&id=zz&period=2018&company=PD" target="_blank"> 数据 </a>。</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-lg-12">
    <div class="bs-component">
      <h2>访谈文本挖掘</h2>
      <p>过去三周的高管访谈中，领导们谈论的 <a href="/chart/first" target="_blank">热点</a></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-lg-12">
    <div class="bs-component">
      <h2>优先级排序</h2>
      <p>对于复杂问题，通过 <a href="/games/index" target="_blank">比较矩阵</a> 进行排序。</p>
    </div>
  </div>
</div>
